<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TPSI Lab 10</title>
        <meta charset="UTF-8" />  
    </head>
    <body>
        <h2> FURKA4U </h2>
        <br/>
        <table border =\"1\" align = \"center\">
            <tr>
                <th>ID</th>
                <th>Model samochodu</th>
            </tr>
            <tr th:each="Car : ${cModel}">
                <td th:text="${Car.id}">Car ID </td>
                <td th:text="${Car.name}">Car Name</td>
            </tr>
        </table>
        <br/><br/>
        <table border =\"1\" align = \"center\">
            <tr>
                <th>ID</th>
                <th>Producent</th>
            </tr>
            <tr th:each="Manufacturer : ${cManufacturer}">
                <td th:text="${Manufacturer.id}">Manufacturer ID</td>
                <td th:text="${Manufacturer.name}">Manufacturer Name</td>
            </tr>
        </table>
    </body>
</html>




<!--    <body>
        <form action="/newpost" method="POST">
            Tytuł: <input type="text" name="title" size="150" /><br />
            Treść:
            <textarea name="content" cols="150" rows="5"></textarea><br />
            <input type="submit" value="Dodaj wpis" />
        </form>
        <div th:each="Lista: ${Lista}">
            <h2 th:text="${Lista.title}">Tytuł</h2>            
            <p th:text="${Lista.content}">Content</p>
            <a th:href="delete_ + ${Lista.id}">Usuń</a>
        </div>
    </body>
</html>-->
